// font //
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

// SCSS FILES //
@import "./_base";
@import "./_layout";
@import "./_components";

/* BREAKPOINTS REFERENCE:
-desktop: > 1024px
-desktop-small: 992px - 1024px
-tablet: 481px - 991px
-mobile: < 481px
*/

@mixin for-mobile {
  @media (max-width: 480px) {
    @content;
  }
}

@mixin for-tablet {
  @media (min-width: 481px) and (max-width: 991px) {
    @content;
  }
}

@mixin for-desktop-small {
  @media (min-width: 992px) and (max-width: 1024px) {
    @content;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  width: 100vw;
  min-width: 380px;
  height: 100vh;

  color: $color-primary;
  background: $color-base;

  font: map-get($textstyle, regular);
}

h1,
h2,
h3,
h4,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration-line: underline;
}

a:visited {
  color: $color-primary;
}

/* STANDARD ELEMENTS */

// HEADER //
.header {
  @extend %centered;
  max-width: 1800px;
  @include flexbox(row, space-between, center);
  padding: $size1x $padding-full 63px;

  @include for-desktop-small {
    padding: 30px 70px;
  }

  @include for-tablet {
    padding: $half $size1x;
  }

  @include for-mobile {
    padding: $half $half;
  }
}

.header_logo {
  height: 68px;

  @include for-tablet {
    height: 55px;
  }

  @include for-mobile {
    height: 43px;
  }
}

.header_nav {
  @include flexbox(row, flex-end, center, 60px);

  @include for-tablet {
    gap: 10px;
  }

  @include for-mobile {
    gap: 10px;
  }
}

.header_link {
  width: 50%;
  font: map-get($textstyle, medium);
  text-align: right;
  min-width: max-content;

  @include for-tablet {
    font-size: 20px;
  }

  @include for-mobile {
    font: map-get($textstyle, xsmall);
    text-transform: uppercase;
  }
}

// PAGE CONTENTS //
.container_main {
  @extend %centered;
  @include flexbox(column, flex-start, center);
  max-width: 1800px;
  height: max-content;
  padding: 0 100px;

  @include for-desktop-small {
    padding: 0 70px;
  }

  @include for-tablet {
    padding: 0 $size1x;
  }

  @include for-mobile {
    padding: 0 $half;
    gap: 20px;
  }
}

// BANNER //
.banner {
  @extend %centered;
  @include flexbox(row, center, center);
  height: 223px;
  border-radius: $radius-lg;
  margin-bottom: $size1x;
  overflow: hidden;

  @include for-tablet {
    height: 180px;
  }

  @include for-mobile {
    height: 111px;
    margin-bottom: 0;
    border-radius: $radius-med;
  }
}

.banner_image {
  height: 223px;
  min-width: 100%;
  object-fit: cover;

  filter: $darken;

  @include for-tablet {
    height: 180px;
    border-radius: $radius-med;
  }

  @include for-mobile {
    height: 111px;
    border-radius: $radius-med;
  }
}

.banner_title {
  position: absolute;
  padding: 0 $size1x;

  @include for-tablet {
    padding: 0 $padding-full;
  }
}

.banner_title h1 {
  font: map-get($textstyle, xlarge);
  color: $color-base;
  text-align: center;

  @include for-desktop-small {
    font: map-get($textstyle, large);
    line-height: 40px;
  }

  @include for-tablet {
    font-size: 30px;
    line-height: 36px;
    text-align: left;
  }

  @include for-mobile {
    font: map-get($textstyle, medium);
    line-height: 24px;
    text-align: left;
  }
}

// FOOTER //

.footer {
  width: 100%;
  height: 209px;
  background-color: #000;
  margin-top: $padding-half;
  padding: 66px 0 29px 0;
  @include flexbox(column, space-between, center);

  font: map-get($textstyle, medium);
  color: $color-base;

  @include for-tablet {
    margin-top: $size1x;
  }

  @include for-mobile {
    padding: 62px 0;
    margin-top: $half;
  }
}

.footer_text {
  font: map-get($textstyle, medium);
  color: $color-base;

  @include for-mobile {
    font: map-get($textstyle, xsmall);
    font-weight: 500;
  }
}

// HOME PAGE //
.logements_gallery-container {
  flex: 1;
}

.logements_gallery {
  background: $grey-1;
  border-radius: $radius-lg;
  padding: 56px 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  place-items: center;
  gap: 50px 60px;

  @include for-desktop-small {
    padding: 50px 45px;
    gap: 45px 40px;
  }

  @include for-tablet {
    padding: 40px 38px;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 33px;
  }

  @include for-mobile {
    background: $color-base;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    padding: 0;
  }
}

.card_container {
  @extend %card;
  aspect-ratio: 1/1;

  @include for-mobile {
    height: 255px;
    aspect-ratio: inherit;
  }
}

.card_img {
  width: 100%;
  height: 100%;
}

.card_container img {
  min-height: 100%;
  @extend %image;
  background-color: $color-primary;
}

//add gradient overlay to image
.card_img:after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: $gradient-dark;
  top: 0;
  left: 0;
}

.card_title {
  position: absolute;
  bottom: $half;
  left: $half;
  width: calc(100% - 40px);
  color: $color-base;
  font: map-get($textstyle, bold);
}

// LOGEMENT PAGE //

// CAROUSEL GALLERY//
.carrousel {
  @include flexbox(column);
  width: $full-width;
  height: 415px;
  position: relative;

  @include for-mobile {
    height: 255px;
  }
}

.carrousel_images {
  flex: 1;
  @include flexbox(row);
  height: 100%;
  width: $full-width;
  padding: 0;
}

.image_active {
  display: contents;
}

.image_placeholder {
  flex: 1;
  min-width: 100%;
  object-fit: cover;
  border: solid 3px $color-primary;
  background-color: $grey-1;
  border-radius: $radius-lg;
  padding: $half;

  @include for-mobile {
    border-radius: $radius-med;
    border: solid 1px $color-primary;
  }
}

.image_placeholder p {
  flex: 1;
  color: $grey-3;
  text-align: center;
  position: relative;
  top: 45%;
  font: map-get($textstyle , regular);

  @include for-mobile {
    font: map-get($textstyle , xsmall)
  }
}

.carrousel_images img {
  flex: 1;
  min-width: 100%;
  object-fit: cover;
  border-radius: $radius-lg;

  @include for-mobile {
    border-radius: $radius-med;
  }
}

.image_hidden {
  display: none;
}

.carrousel_controls {
  @include flexbox(row, space-between, center);
  width: 100%;
  height: 80px;
  position: absolute;
  top: 150px;
  padding: 0 24px;
  z-index: 5;

  @include for-tablet {
    top: 170px;
    height: 60px;
    padding: 0 12px;
  }

  @include for-mobile {
    height: 20px;
    padding: 0 6px;
    top: 120px;
  }
}

.controls {
  height: max-content;
}

.controls_prev img {
  transform: rotate(-90deg);
  width: 80px;

  @include for-tablet {
    width: 60px;
  }

  @include for-mobile {
    width: 20px;
  }
}

.controls_next img {
  transform: rotate(90deg);
  width: 80px;

  @include for-tablet {
    width: 60px;
  }

  @include for-mobile {
    width: 20px;
  }
}

.slide_index {
  @include background-opacity(#000, 0.15);
  width: 60px;
  padding: 3px 0;
  border-radius: $radius-med;
  position: absolute;
  bottom: 25px;
  align-self: center;
  font: map-get($textstyle, bold);
  text-align: center;
  color: #FFF;

  @include for-tablet {
    width: 50px;
    font: map-get($textstyle, small);
    font-weight: 500;
    bottom: 20px;
  }

  @include for-mobile {
    display: none;
  }
}

// LOGEMENT PAGE - TITLE //

.title_container {
  width: $full-width;
  @include flexbox(row, space-between);
  color: $color-primary;
  margin: $padding-half 0;

  @include for-desktop-small {
    margin: $size1x 0 30px;
  }

  @include for-tablet {
    margin: 30px 0 20px;
  }

  @include for-mobile {
    @include flexbox(column, space-between, stretch, 16px);
    margin: 0;
  }

}

.title_container-main {
  @include flexbox(column, flex-end);
}

.logement_title {
  font: map-get($textstyle, large);

  @include for-tablet {
    font-size: 30px;
    line-height: 36px;
  }

  @include for-mobile {
    font: map-get($textstyle, bold);
  }
}

.logement_location {
  font: map-get($textstyle, bold);

  @include for-mobile {
    font: map-get($textstyle, small);
  }
}

.title_tags {
  @include flexbox(row, flex-start);
  align-content: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: $half;

  @include for-tablet {
    margin-top: 15px;
  }

  @include for-mobile {
    margin-top: 10px;
  }
}

.tag {
  @include flexbox(row, center, center);
  min-width: 115px;
  height: 25px;
  color: $color-base;
  background: $color-primary;
  border-radius: $radius-med;
  font: map-get($textstyle, small);

  @include for-tablet {
    height: 20px;
    min-width: max-content;
    border-radius: 7.5px;
    font: map-get($textstyle, xsmall);
  }

  @include for-mobile {
    height: 18px;
    min-width: max-content;
    border-radius: $radius-sm;
    font: map-get($textstyle, xxsmall);
  }
}

.tag p {
  margin: 0 10px;

  @include for-tablet {
    margin: 0 8px;
  }

  @include for-mobile {
    margin: 0 6px;
  }
}

.title_container-sub {
  @include flexbox(column, flex-start, flex-end);

  @include for-tablet {
    @include flexbox(column, space-between, flex-end);
  }

  @include for-mobile {
    @include flexbox(row-reverse, space-between, center);
  }
}

.host {
  @include flexbox(row, flex-end, center, 10px);
  margin-bottom: 24px;

  @include for-mobile {
    margin-bottom: 0;
  }
}

.host-name {
  font: map-get($textstyle, bold);
  text-align: right;

  @include for-mobile {
    font: map-get($textstyle, xsmall);
  }
}

.host-image {
  width: 64px;
  height: 64px;
  border-radius: 32px;
  background-color: $grey-3;
  overflow: hidden;

  @include for-mobile {
    width: 32px;
    height: 32px;
    border-radius: 16px;
  }
}

.host-image img {
  width: 100%;
  object-fit: cover;
}

.rating {
  height: 30px;
  min-width: max-content;

  @include for-tablet {
    height: 25px;
  }

  @include for-mobile {
    height: 15px;
  }
}

.star>path {
  height: 30px;
  fill: $grey-2;

  @include for-tablet {
    height: 25px;
  }

  @include for-mobile {
    height: 15px;
  }
}

.star_active>path {
  height: 30px;
  fill: $color-primary;

  @include for-tablet {
    height: 25px;
  }

  @include for-mobile {
    height: 15px;
  }
}

// LOGEMENT PAGE - DETAILS //

.container_details {
  width: $full-width;
  @include flexbox(row, flex-start, space-between, 67px);

  @include for-tablet {
    gap: 25px;
  }

  @include for-mobile {
    @include flexbox(column, flex-start, stretch, 30px);
  }
}

.accordion_container {
  flex: 1;
  @include flexbox(column);
  position: relative;
}

.accordion_title {
  @include flexbox(row, space-between, center);
  height: 52px;
  padding-left: $half;
  padding-right: 12px;
  background: $color-primary;
  border-radius: $radius-med;
  position: relative;
  z-index: 1;
  margin-bottom: -10px;

  @include for-tablet {
    height: 40px;
    padding-left: 15px;
    padding-right: 10px;
  }

  @include for-mobile {
    height: 30px;
    padding-left: 11.5px;
    padding-right: 7px;
    border-radius: $radius-sm;
  }
}

.accordion_title h3 {
  font: map-get($textstyle, medium);
  color: #FFF;

  @include for-tablet {
    font: map-get($textstyle, bold);
  }

  @include for-mobile {
    font-size: 13px;
  }
}

.arrow {
  height: 15.5px;

  @include for-tablet {
    height: 12px;
  }

  @include for-mobile {
    height: 9px;
  }
}

.arrow_closed {
  transform: rotate(180deg);
  height: 15.5px;

  @include for-tablet {
    height: 12px;
  }

  @include for-mobile {
    height: 9px;
  }
}

.accordion_content {
  color: $color-primary;
  background-color: $grey-1;
  border-radius: $radius-med;
  padding: 30px 12px 30px 20px;
  height: 100%;

  @include for-tablet {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
  }

  @include for-mobile {
    font: map-get($textstyle , xsmall);
    font-weight: 400;
    border-radius: $radius-sm;
    padding: 20px 11.5px 11.5px 11.5px;
  }
}

.accordion_closed {
  display: none;
}

// A PROPOS / ABOUT PAGE //

.about {
  @extend %centered;
  padding: 0 100px;

  @include for-tablet {
    padding: 0 70px;
  }

  @include for-mobile {
    padding: 0;
  }
}

.about_content {
  @include flexbox(column, space-between, stretch, 30px);

  @include for-mobile {
    gap: 20px;
  }
}

// ERROR PAGE //
.error {
  @include flexbox(column, flex-start, center);
  padding: 135px 0 120px 0;
  color: $color-primary;
  text-align: center;

  @include for-mobile {
    padding: 175px 30px 215px;
  }
}

.error_404 {
  font-size: 288px;
  line-height: 263px;
  font-weight: 700;
  margin-bottom: 66px;

  @include for-mobile {
    font-size: 96px;
    line-height: 99px;
    margin-bottom: 11px;
  }
}

.error_message {
  font: map-get($textstyle, large);
  margin-bottom: 182px;

  @include for-mobile {
    font: map-get($textstyle, bold);
    margin-bottom: 133px;
  }
}

.error_link {
  font: map-get($textstyle, bold);
  text-decoration-line: underline;

  @include for-mobile {
    font: map-get($textstyle, small);
  }
}

// END