.banner {
  width: calc(100% - 200px);
  height: 223px;
  margin: 23px 0 43px 100px;
}

.banner_container {
  display: flex;
  height: 223px;
  min-width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.banner_image {
  flex: 1;
  height: 223px;
  min-width: 100%;
  position: relative;
  overflow: hidden;
  object-fit: cover;
  border-radius: 25px;

  filter: brightness(0.7);
}

.banner_title {
  position: absolute;
  color: white;
  font-size: 48px;
  font-weight: 500;
}